version: '3.9'
services:
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - api
      - client
    volumes:
      - /etc/letsencrypt/live/portal.ncit.edu.np/fullchain.pem:/etc/nginx/certs
      - /etc/letsencrypt/live/portal.ncit.edu.np/privkey.pem:/etc/nginx/privkey
  
  client:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo:/data/db
    
  api:
    restart: always
    build: 
      dockerfile: Dockerfile
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
      # - ./public/files :/usr/app/src/files/
      - ./server/src/files/submitted-form:/usr/app/src/files/submitted-form
      - ./server/src/files/registration:/usr/app/src/files/registration
    depends_on:
      - mongo 
    links:
      - mongo
  
volumes:
  mongo:

